<h2>Postagens</h2>
{{#each listaPostagens}}
<form action="/admin/postagem/delete/{{ _id}}" method="post">
    <input type="hidden" name="idPostagem" value={{_id}}>
    <h6 class="mt-4">{{ titulo }} <span>[{{ categoria }}]  <button class="btn btn-outline-danger btn-sm" type="submit">Excluir</button></span></h6>
    <p>{{ conteudo }}</p>
    <small>{{ data }}</small>
</form>
<a href="/admin/postagem/edit/{{ _id }}"><button class="btn btn-outline-primary btn-sm">Editar</button></a>
<hr>
{{/each}}
<a href="/admin/postagens/add"><button class="btn btn-success btn-sm mb-4">Nova Postagem</button></a>